*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: "Oswald", sans-serif;
    color: white;
    width: 1000px;
}
.boton-menu {
}
.fas {
}
.fa-bars {
}
.fa-2x {
}
.contenedor {
    width: 90%;

}
.navegacion-principal {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    align-content: center;
    
}
.navegacion-principal__marca {
    width: 13%;
    justify-content: flex-start;
    
    
}
.navegacion-principal__menu {
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 30px;
    list-style: none;
    margin: 20px;
    margin-block-end: 100px;
    
    
}
.navegacion-principal__menu li{
    list-style: none;
   
}
.navegacion-principal__menu a{
    color: white;
    text-decoration: none;
}

.navegacion-principal__menu-derecha {
    margin-top: 10px;
    gap: 10px;
    list-style: none;
    
    
}
.fa-search {
    color: white;
    
   
    
}
.cabecera {
    display: grid;
    grid-template-columns: 1fr;
}
.cabecerafotos{
    background-image: url('https://github.com/Marcelo89890/Proyecto1-2024/blob/main/showcase.jpg?raw=true');
    width: 90%;
    text-align: center;
    margin: 20px;
    padding: 30px;
    background-position: center;


}
.cabecerafotos p{
    margin-bottom: 20px;
}
.boton {
    margin-top: 10px;
    margin-bottom: 15px;
    text-decoration: none;
    color: white;
    background-color: grey;
    border: radius 10px;
    border: solid wheat;
    
    
}
.fa-chevron-right {
}
.tarjetas-noticias {
    display: flex;
    flex-direction: row;
    margin: 40px;
    gap: 30px;
    text-align: center;
}
.tarjetas-noticias__tarjeta {
    justify-content: space-around;
}
.tarjetas-noticias__tarjeta img{
    width: 100%;

}
.tarjetas-noticias a{
align-content: center;
text-decoration: none;
color: white;
}
.fa-angle-double-right {
}


